@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

/* Custom Range Slider */

.input-range__slider {
  background: #e55d29;
  border: none;
}

.input-range__track {
  background: #e7e7e7;
}

.input-range__track--active {
  background: #e55d29;
}

.input-range__label--min .input-range__label-container,
.input-range__label--max .input-range__label-container {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: rgb(107, 114, 128);
  font-weight: 600;
}

.input-range__label--value {
  top: -2rem;
}

.input-range__label--value .input-range__label-container {
  font-family: "Montserrat", sans-serif;
  background-color: #e55d29;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}

/* input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #e55d29;
  cursor: pointer;
} */

/* AOS Delays */
body [data-aos-delay="3200"][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay="3200"].aos-animate {
  transition-delay: 3.2s;
}

body [data-aos-delay="3400"][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay="3400"].aos-animate {
  transition-delay: 3.4s;
}

body [data-aos-delay="3600"][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay="3600"].aos-animate {
  transition-delay: 3.6s;
}

/* Home1 */
.bg-map {
  background-image: url("/Radius_Job_Banner.gif");
}

/* Home2 */
.bg-traffic {
  background-image: url("/traffic_bg.jpg");
}

/* Home3 */
.bg-traffic {
  background-image: url("/home3/MainBannerImage1.jpg");
}

.bg-bus {
  background-image: url("/home3/MainBannerImage2.jpg");
}

.bg-rickshaw {
  background-image: url("/home3/MainBannerImage3.jpg");
}

.bg-train {
  background-image: url("/home3/MainBannerImage4.jpg");
}

/* Circular Progress Bar */
.circular_progress_bar::before {
  content: "";
  position: absolute;
  height: 86%;
  width: 86%;
  background-color: white;
  border-radius: 50%;
}

/* Registration Screens BG */
.reg-bg {
  background-image: url("/Map_light.png");
}

/* Remove Number Input Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.d-flex-imp {
  display: flex !important;
}

/* Custom Dashboard Scrollbar */
.dashboard-scroll {
  height: 85vh;
}
/* width */
.dashboard-scroll::-webkit-scrollbar {
  width: 0;
}

/* Track */
.dashboard-scroll::-webkit-scrollbar-track {
  background: #e7e7e7;
}

/* Handle */
.dashboard-scroll::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

/* Handle on hover */
.dashboard-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
